.form-control 
{
    margin-left: 145px;
    font-size: 14px;
    padding-left: 43px;
}
.my-lg-0 
{
    width: 40%;
}
.bg-light 
{
    padding-left: 70px;
    background-color: white;
}
.navbar-brand 
{
    font-size: 1.00rem;
    font-weight: bold;
}
.new
{
    color: rgb(250, 5, 144);
    padding-left: 4px;
    font-size: 10px;
}
img
{
    width: 49px;
}
.navbar
{
    padding-top: 0.9rem;
}